@charset "UTF8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #59D2FE, #4A8FE7);

}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #1a3455c5;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FCAB10;
    text-align: center;
    text-shadow: 1px 1px 2px #644408dd;
}

h2 {
    color: #4A8FE7;
}

p {
    text-align: justify;
}

